  #rainbow:link {
    color: azure;
  }
  
  #rainbow:visited {
    color: azure;
  }
  
  #rainbow:hover {
    color: #555555;
  }

  #rainbow:active {
    color: #eeeeee;
  }

  .btn.btn-primary {
    background-color: azure;
    border-color: azure;
    color: #eeeeee;
}

.navbar.navbar-light.bg-light {
    position: fixed;
    margin: 0 30px 30px;

}

